@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Poppins',sans-serif;
    transition: all 0.2s linear;
    transition:  width none;
    text-decoration: none;
}

[data-theme="dark"] #Hero,
[data-theme="dark"] #Instructorsui,
[data-theme="dark"] #Tags,
[data-theme="dark"] #Card {
  background-color: #36393e;
   /* Optional for text color */
}

[data-theme="dark"] #Text,
[data-theme="dark"] .Text{
    color: #E4E6EB;
}

[data-theme="dark"] #Popup{
    color: white;
    background-color: #F5F7F8;
}
[data-theme="dark"] #InputBg{
    color: white;
    background-color: #4b4e54;
}
[data-theme="dark"] #CartBg{
    color: white;
    background-color: #4b4e54;
}
[data-theme="dark"] #Switch{
    color: #E4E6EB;
    background-color: transparent;
}
[data-theme="dark"] #AboutContact{
    background-color: #4b4e54;
}

[data-theme="light"] #AboutContact{
    background-color: white;
}
[data-theme="light"] #AboutContact2{
    background-color: #F5F7F8;
}

[data-theme="light"] #Hero,
[data-theme="light"] #Instructorsui,
[data-theme="light"] #Tags,
[data-theme="light"] #Card {
  background-color: #F5F7F8; /* Or any light mode color */
  color: #000000; 
}

[data-theme= "dark"] .sidebar,
[data-theme= "dark"] .AdminHeader,
[data-theme= "dark"] .profile{
    background-color: #2D2D2D;
    color: #E4E6EB;
}


[data-theme= "dark"] .AdminCourseCard {
    background-color: #242424;
}

[data-theme= "dark"] .content {
    background-color: #2C3E50;
    color: #E4E6EB;
}

[data-theme= "dark"] .sidebarText {
    background-color: #36393e;
    color: #E4E6EB;
}

[data-theme= "dark"] .sidebarTextActive {
    color: #2563EB;
}

[data-theme= "light"] .sidebarTextActive {
    color: #2563EB;
}

[data-theme= "light"] .sidebar button:hover {
    color: #2563EB;
}

[data-theme= "light"] .profile{
    background-color: white;
}





